*{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    background-color: rgb(70, 184, 255);
    color: white;
    height: 400px;
    font-size: 1100%;

    text-align: center;
}
.header span{
    font-size:80%;
    color: yellow;

}
.header p{
    font-size: 20%;
    margin-top: -3%;
    color: ghostwhite;
    text-shadow: none;
}

.about{
    
    background-color: rgb(255, 220, 220);
    padding: 50px;
    font-size: 20px;
    word-spacing: 3px;
}

footer{
    background-color: rgb(70, 184, 255);
    height: 300px;
    
    font-size: 500%;
    text-align: center;
    color: yellow;

}
.sub{
    width: 50%;
    font-size: 110%;
    border: none;
    border-radius: 100px;
    padding: 10px;

    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

    color: white;
    font-weight: bolder;
    animation: flash 2s infinite;
}
.sub a{
    text-decoration: none;
    color: inherit;
}
.logo{
    width: 50%;
    align-self: center;
}
.about-me{
    background-color: rgb(220, 220, 255);
    padding: 50px;
    font-size: 20px;
    word-spacing: 3px;
}
.about-me-all{
    margin-top: 10px;

}
@keyframes flash {
    0%{filter: hue-rotate(0deg);}    
    50%{filter: hue-rotate(360deg);}
    100%{filter: hue-rotate(0deg);}    
}
.comments{
    /* position: relative; */
    background-color: rgb(220, 255, 220);
    padding: 3px;
    height: 250px;
    overflow:auto;
}
.comment{
    display: block;
    padding: 10px;
    background-color: white;
    /* text-align: center; */
    margin: 1px;
    border: 1px solid salmon;
    min-height: 20px;
    width:92%;
}



.message{
    display: block;

}


.addComment{
    background-color: rgb(220, 255, 220);
    padding: 1%;
}
.add{
    background-color: white;
    padding: 20px;
    margin-top: 0px;
    padding-top: 30px;
}
.add input {
    background: rgb(250, 250, 250);
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    font-size: 150%;
    height: max-content;

}
.addCommentBtn{
    width: 21%;
    font-size: 110%;
    border: none;
    border-radius: 100px;
    padding: 10px;
    margin-top: 10px;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    color: white;
    font-weight: bolder;
    animation: flash 2s infinite;
}
.message{
    display: inline-flex;

}
.message-text {
    min-height: 1em; /* prevent height collapsing when there is no text */
    max-height: 97px;
    width: 100%;
    align-content: center;
    outline: none;
    overflow: hidden;

  }
  
.message-wrapper {
    
    width: 80%;
    border: 1px solid #e4e7ec;
    border-radius: 20px;
    background-color: #f9fafb;
    padding: 24px; /* the container will keep the padding untouched */
    max-height: 145px; /* added padding to the height of the .message-text */
    font-size: 20px;
}
/* .card-home{
    position:absolute;
      top:0;
        animation: scroll 10s linear 1s infinite;
  } */
